.NavbarMobile-m .NavbarItemsContainer {
  margin-bottom: 20px;
}

.NavbarMobile-m .NavbarContainer {
  display: flex;
<<<<<<< HEAD
  width: 100% !important;
=======
  width: 100%;
>>>>>>> 97e5da93ce7d20684246da6a5df2a37831102c65
}

.NavbarMobile-m .NavbarItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--dark);
}

.NavbarMobile-m .NavbarItems .NavbarData:first-child,
<<<<<<< HEAD
.NavbarMobile-m .NavbarItems .NavbarData:last-child {
  display: none;
}

.NavbarMobile-m  .NavbarUL {
=======
.NavbarMobile-m.NavbarItems .NavbarData:last-child {
  display: none;
}

.NavbarMobile-m .NavbarUL {
>>>>>>> 97e5da93ce7d20684246da6a5df2a37831102c65
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 6px;
  margin-block-end: 6px;
  margin-inline-start: 6px;
  margin-inline-end: 6px;
}

.NavbarMobile-m .NavbarData ul li {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 8px;
}

<<<<<<< HEAD
.NavbarMobile-m  .NavbarData ul li:hover {
=======
.NavbarMobile-m .NavbarData ul li:hover {
>>>>>>> 97e5da93ce7d20684246da6a5df2a37831102c65
  background-color: var(--lightdark);
}

/* active btn */
.NavbarMobile-m .NavbarData:first-child ul li:first-child {
  /* background-color: var(--yellow); */
  background: linear-gradient(
    266.34deg,
    #ffba00 7.54%,
    #ffaa00 37.91%,
    #ff8a00 96.62%
  );
}

.NavbarMobile-m .NavbarData:first-child ul li:first-child p {
  color: var(--dark);
  font-weight: 900;
}

<<<<<<< HEAD
.NavbarMobile-m  .NavbarList,
.NavbarMobile-m  .NavbarItemsContainer {
  display: flex;
  text-decoration: none;
  width: 100%;
=======
.NavbarMobile-m .NavbarList,
.NavbarMobile-m .NavbarItemsContainer {
  display: flex;
  text-decoration: none;
>>>>>>> 97e5da93ce7d20684246da6a5df2a37831102c65
}

.NavbarMobile-m .NavbarList img,
.NavbarMobile-m .gameShopImg {
  margin-right: 12px;
}
