.NavbarItemsContainer {
  margin-bottom: 20px;
}

.NavbarContainer {
    display: flex;
    width: 100%;
  }
  
  .NavbarItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--dark);
  }

  .NavbarItems .NavbarData:first-child, 
  .NavbarItems .NavbarData:last-child {
    display: none;
  }
  
  .NavbarUL {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
  }
  
  .NavbarData ul li {
    background-color: transparent;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 8px;
  }
  
  .NavbarData ul li:hover {
    background-color: var(--lightdark);
  }
  
  /* active btn */
  .NavbarData:first-child ul li:first-child {
    /* background-color: var(--yellow); */
    background: linear-gradient(
      266.34deg,
      #ffba00 7.54%,
      #ffaa00 37.91%,
      #ff8a00 96.62%
    );
  }
  
  .NavbarData:first-child ul li:first-child p {
    color: var(--dark);
    font-weight: 900;
  }
  
  .NavbarList,
  .NavbarItemsContainer {
    display: flex;
    text-decoration: none;
  }
  
  .NavbarList img,
  .gameShopImg {
    margin-right: 12px;
  }
  
  