.NavbarMobile-m {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

.NavbarMobile-m .NavbarContainer {
  display: flex;
  width: 100% !important;
}

.NavbarMobile-m .NavbarItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--dark);
}

.NavbarMobile-m .NavbarItems .NavbarData:last-child {
  display: none;
}

.NavbarMobile-m .NavbarUL {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 6px;
  margin-block-end: 6px;
  margin-inline-start: 6px;
  margin-inline-end: 6px;
}

.NavbarMobile-m .NavbarData ul li {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 8px;
}

.NavbarMobile-m .NavbarData ul li:hover {
  background-color: var(--lightdark);
}

/* active btn */
.NavbarMobile-m .NavbarData:first-child ul li:first-child {
  /* background-color: var(--yellow); */
  background: linear-gradient(
    266.34deg,
    #ffba00 7.54%,
    #ffaa00 37.91%,
    #ff8a00 96.62%
  );
}

.NavbarMobile-m .NavbarData:first-child ul li:first-child p {
  color: var(--dark);
  font-weight: 900;
}

.NavbarMobile-m .NavbarList,
.NavbarMobile-m .NavbarItemsContainer {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.NavbarMobile-m .NavbarList img,
.NavbarMobile-m .gameShopImg {
  margin-right: 12px;
}

.User-m {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.User-m .DropbarContainer {
  /* padding: 0 40px; */
  align-self: center;
}

.User-m .btn--large {
  padding: 10px 14px;
  align-items: center;
  display: flex;
}

.HeaderImage {
  margin-top: 70px;
}

@media (max-width: 440px) {
  .NavbarMobile-m .NavbarUL {
    margin-inline-start: 0px !important ;
    margin-inline-end: 0px !important;
  }

  .HeaderImage {
    display: flex;
  }

  .BuffaloBlitzHeader {
    margin: auto;
  }
}



/* ********* min-width */
@media (min-width: 441px) {
  .HeaderImage {
    display: none;
  }
}
