.InformationCardContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.InformationCardContainer .InformationsCardData .BigestWinsImage {
  align-self: center;
}

.InformationsCardData {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background: var(--dark);
  width: 27%;
  border-radius: 16px;
  padding: 0 13px;
  overflow: hidden;
  border: 1px solid var(--gold);
}

.InformationDescription {
  align-self: center;
}

.infoTitle {
  font-weight: 700;
  color: var(--white);
  line-height: 16px;
}

.infoP {
  color: var(--lightblue);
}

@media (max-width: 1366px) {
  .InformationCardContainerResponsive .InformationsCardData {
    flex-direction: column;
    gap: 0;
    padding-top: 10px;
  }

  .InformationCardContainerResponsive
    .InformationsCardData
    .InformationDescription {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .InformationCardContainerResponsive {
    flex-direction: column;
  }

  .InformationCardContainerResponsive .InformationsCardData {
    width: auto !important;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  
}

@media (max-width: 768px) {
  .InformationCard-m .InformationCardContainer {
    flex-direction: column;
    margin: 20px 0;
  }

  .InformationCard-m .InformationsCardData {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }

  .InformationCard-m .InformationCardContainer {
    padding: 0;
  }

  .InformationCard-m .BigestWinsImage {
    padding-left: 15px;
  }
}
