#recommendedGamesCard .slick-slide div {
  display: flex;
}

#recommendedGamesCard .slick-list {
  padding: 0 !important;
  margin: 5px;
  margin: 60px 0;
}

#recommendedGamesCard h2,
.TournamentsContainer h2 {
  margin-left: 30px;
}

.recommendedGamesCard {
  background-color: var(--card);
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  position: relative;
}

.recommendedGamesCard .RecommendedIcon {
  margin-top: 10px;
  position:absolute;
  bottom: 10px;
}



.fill p {
  border-radius: 8px;
  background-color: var(--primary);
  margin: 3px;
  padding: 3px 10px;
}

.fill p:empty {
  display: none;
}

.slick-prev,
.slick-next {
  top: -20px;
}

.slick-prev:before,
.slick-next:before {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
}

.slick-prev {
  right: 50px;
  left: unset;
}

.slick-next {
  right: 20px;
}

.paceholder25 {
  width: 25%;
}

.cardDescription {
  justify-content: space-between;
  width: 100%;
}

.recommendedGamesCard .cardItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: var(--white);
}


@media (max-width: 1280px) {
  .slick-slider .recommendedGamesCard .cartImg img {
    margin: auto;
  }
}

@media (max-width: 768px) {
  #recommendedGamesCard .slick-slide div {
    justify-content: center;
  }

  @media (max-width: 375px) {
    .slick-dots {
      bottom: -60px;
    }
  }
}
