.BigestWinsData {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  gap: 15px;
  margin: 5px;
}


.BiggestWinsContainer .BigestWinsImage {
  margin: auto 0;
  width: 25%;
}

.BiggestWinsContainer .BigestWinsImage img {
  width: 100%;
}

.BigestWinsDescription {
  width: 50%;
}

.BiggestWingsStar {
  margin-top: 18px;
}

.height {
  line-height: 10px;
}

@media (max-width: 768px) {
  .BiggestWins-m {
    margin: 20px 0;
  }
}
