.NavbarContainer {
  display: flex;
  width: 75% !important;
}

.NavbarItems {
  display: flex;
  justify-content: space-around !important;
  
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--dark);
}

.NavbarUL {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 6px;
  margin-block-end: 6px;
  margin-inline-start: 6px;
  margin-inline-end: 6px;
}

.NavbarData {
  align-self: center;
}

.NavbarData ul li {
  background-color: transparent;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 8px;
}

.NavbarData ul li:hover {
  background-color: var(--lightdark);
}

/* active btn */
.NavbarData:first-child ul li:first-child {
  /* background-color: var(--yellow); */
  background: linear-gradient(
    266.34deg,
    #ffba00 7.54%,
    #ffaa00 37.91%,
    #ff8a00 96.62%
  );
}

.NavbarData:first-child ul li:first-child p {
  color: var(--dark);
  font-weight: 900;
}

.NavbarList,
.NavbarItemsContainer {
  display: flex;
  text-decoration: none;
}

.NavbarList img,
.gameShopImg {
  margin-right: 12px;
}

.buttonContainer {
  width: 25%;
  align-self: center;
  background-color: var(--dark);
  border-radius: 16px 0 0 16px;
  padding: 19px 0 ;
}

.NavbarItemsContainer .buttonContainer .btn {
  display: flex;
}

.NavbarItemsContainer .buttonContainer .btn {
  padding: 0 12px;
  font-size: 16px;
}

.NavbarItemsContainer .buttonContainer .btn .gameShopImg {
  align-self: center;
}

.NavbarItemsContainer .buttonContainer .btn .ShopP {
  color: var(--black);
  font-weight: 700;
}

@media (max-width: 1260px) {
  .NavbarData .NavbarLI p {
    display: none;
  }

  .NavbarData .NavbarLI a img {
    margin-right: 0;
  }

  .NavbarData ul li {
    padding: 10px;
  }
}

@media (max-width: 1440px) {
  .NavbarContainer {
    width: 100% !important;
  }

  .buttonContainer {
    width: auto;
    padding-right: 10px;
  }
  
}


