.NavButtonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.NavbarItemsContainer .buttonContainer .btn--yellow {
    margin-left: 20px;
}

