.NavButtonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.NavButtonsContainer btn:active, 
.NavButtonsContainer btn:focus,
.NavButtonsContainer btn:target {
    background-color: var(--yellow) !important;
}

.NavbarItemsContainer .buttonContainer .btn--yellow {
    margin-left: 20px;
}

@media (max-width: 1280px) {
    .NavButtonsDes {
        display: none;
    }
  }

